<p-card header="Edit Contact Section">
  <div class="flex flex-col md:flex-row">
    <div class="flex w-full flex-col gap-2 p-2 md:w-1/2 md:py-2">
      <h1 class="text-xl">Contact Details</h1>
      <p-floatlabel variant="on">
        <input
          pInputText
          id="phone_number_label"
          autocomplete="off"
          fluid="true"
        />
        <label for="phone_number_label">Phone Number</label>
      </p-floatlabel>
    </div>
    <div class="flex w-full flex-col gap-2 p-2 md:w-1/2 md:py-2">
      <h1 class="text-xl">Social Media & Settings</h1>
      <p-inputgroup>
        <p-inputgroup-addon> # </p-inputgroup-addon>
        <p-floatlabel variant="on">
          <input
            pInputText
            id="gitHub_profile_URL_label"
            autocomplete="off"
            fluid="true"
          />
          <label for="gitHub_profile_URL_label">GitHub Profile URL</label>
        </p-floatlabel>
      </p-inputgroup>
      <p-inputgroup>
        <p-inputgroup-addon> # </p-inputgroup-addon>
        <p-floatlabel variant="on">
          <input
            pInputText
            id="linkedIn_profile_URL_label"
            autocomplete="off"
            fluid="true"
          />
          <label for="linkedIn_profile_URL_label">LinkedIn Profile URL</label>
        </p-floatlabel>
      </p-inputgroup>
      <p-inputgroup>
        <p-inputgroup-addon> # </p-inputgroup-addon>
        <p-floatlabel variant="on">
          <input
            pInputText
            id="twitter_profile_URL_label"
            autocomplete="off"
            fluid="true"
          />
          <label for="gitHub_profile_URL_label">Twitter Profile URL</label>
        </p-floatlabel>
      </p-inputgroup>
      <p-inputgroup>
        <p-inputgroup-addon> # </p-inputgroup-addon>
        <p-floatlabel variant="on">
          <input
            pInputText
            id="instagram_profile_URL_label"
            autocomplete="off"
            fluid="true"
          />
          <label for="instagram_profile_URL_label">Instagram Profile URL</label>
        </p-floatlabel>
      </p-inputgroup>
    </div>
  </div>
</p-card>
