<p-card header="Edit Contact Section">
  <div class="flex flex-col md:flex-row">
    <div class="flex w-full flex-col gap-2 p-2 md:w-1/2 md:py-2">
      <h1 class="text-xl">Contact Details</h1>
      <p-inputgroup>
        <p-inputgroup-addon> # </p-inputgroup-addon>
        <p-floatlabel variant="on">
          <input
            pInputText
            id="phone_number_label"
            type="tel"
            autocomplete="off"
            fluid="true"
            [(ngModel)]="contactDetails.phone"
          />
          <label for="phone_number_label">Phone Number</label>
        </p-floatlabel>
      </p-inputgroup>
      <p-inputgroup>
        <p-inputgroup-addon> # </p-inputgroup-addon>
        <p-floatlabel variant="on">
          <input
            pInputText
            id="email_label"
            type="email"
            autocomplete="off"
            fluid="true"
            [(ngModel)]="contactDetails.email"
          />
          <label for="email_label">Email Address</label>
        </p-floatlabel>
      </p-inputgroup>
    </div>
    <div class="flex w-full flex-col gap-2 p-2 md:w-1/2 md:py-2">
      <h1 class="text-xl">Social Media & Settings</h1>
      <p-inputgroup>
        <p-inputgroup-addon> # </p-inputgroup-addon>
        <p-floatlabel variant="on">
          <input
            pInputText
            id="gitHub_profile_URL_label"
            autocomplete="off"
            fluid="true"
            [(ngModel)]="contactDetails.github"
          />
          <label for="gitHub_profile_URL_label">GitHub Profile URL</label>
        </p-floatlabel>
      </p-inputgroup>
      <p-inputgroup>
        <p-inputgroup-addon> # </p-inputgroup-addon>
        <p-floatlabel variant="on">
          <input
            pInputText
            id="linkedIn_profile_URL_label"
            autocomplete="off"
            fluid="true"
            [(ngModel)]="contactDetails.linkedin"
          />
          <label for="linkedIn_profile_URL_label">LinkedIn Profile URL</label>
        </p-floatlabel>
      </p-inputgroup>
      <p-inputgroup>
        <p-inputgroup-addon> # </p-inputgroup-addon>
        <p-floatlabel variant="on">
          <input
            pInputText
            id="twitter_profile_URL_label"
            autocomplete="off"
            fluid="true"
            [(ngModel)]="contactDetails.twitter"
          />
          <label for="twitter_profile_URL_label">Twitter Profile URL</label>
        </p-floatlabel>
      </p-inputgroup>
      <p-inputgroup>
        <p-inputgroup-addon> # </p-inputgroup-addon>
        <p-floatlabel variant="on">
          <input
            pInputText
            id="instagram_profile_URL_label"
            autocomplete="off"
            fluid="true"
            [(ngModel)]="contactDetails.instagram"
          />
          <label for="instagram_profile_URL_label">Instagram Profile URL</label>
        </p-floatlabel>
      </p-inputgroup>
    </div>
  </div>
  <p-button label="Submit" fluid="true" (click)="saveContactDetails()" />
</p-card>

<p-toast
  [showTransformOptions]="'translateY(100%)'"
  [showTransitionOptions]="'1000ms'"
  [hideTransitionOptions]="'1000ms'"
  [showTransformOptions]="'translateX(100%)'"
/>
