<p-menubar
  [model]="items"
  styleClass="flex
   !border-none !w-full !fixed
   !top-0 !left-0 !z-50 !transition-all
!justify-between
     !duration-300 !rounded-none"
>
  <ng-template #start>
    <a
      href="#home"
      class="font-display text-xl font-bold text-blue-700 md:text-2xl"
    >
      connect<span class="text-amber-400">with</span>sandeepan
    </a>
  </ng-template>
  <ng-template #end>
    <p-button label="View Resume" (onClick)="downloadResume()" text severity="info" />
  </ng-template>
</p-menubar>

