<section id="projects" class="bg-gray-50 py-20">
  <div class="container mx-auto px-4 sm:px-6 lg:px-8">
    <div class="mb-16 text-center">
      <h2
        class="font-display mb-4 text-3xl font-bold text-[#111827] md:text-4xl"
      >
        Projects
      </h2>
      <div class="mx-auto mb-8 h-1 w-20 bg-[#0D9488]"></div>
      <p class="mx-auto max-w-4xl text-gray-600">
        Here are some of the projects I've worked on. Each project reflects my
        skills and experience in different technologies.
      </p>
    </div>

    <div class="flex flex-wrap gap-4 items-center justify-center">
      @for (project of projects.slice(0, 3); track project.id) {
        <p-card [style]="{ width: '25rem', overflow: 'hidden' }">
          <ng-template #header>
            <img alt="" class="w-full h-50" [src]="project.projectImgUrl"/>
          </ng-template>
          <ng-template #title> {{ project.title }}</ng-template>
          <ng-template #content>
            <p>{{ project.description }}</p>
            <div class="my-4 flex flex-wrap gap-2">
              @for (tech of project.technologies; track tech.id) {
                <p-chip label="{{ tech }}"></p-chip>
              }
            </div>
          </ng-template>
          <ng-template #footer>
            <div class="flex gap-4">
              <a
                [href]="project.gitHubUrl"
                class="flex items-center gap-2 text-gray-700 transition-colors hover:text-[#111827]"
              >
                <lucide-icon
                  [img]="Github"
                  class="hover:text-[#111827]"
                ></lucide-icon>
                <span>Code</span>
              </a>
              @if (project.liveDemoUrl) {
                <a
                  [href]="project.liveDemoUrl"
                  target="_blank"
                  rel="noopener noreferrer"
                  class="flex items-center gap-2 text-gray-700 transition-colors hover:text-[#0D9488]"
                >
                  <lucide-icon
                    [img]="ExternalLink"
                    class="hover:text-[#0D9488]"
                  ></lucide-icon>
                  <span>Live Demo</span>
                </a>
              }
            </div>
          </ng-template>
        </p-card>
      }
    </div>
    @if (projects && projects.length > 3) {
      <div class="mt-16 text-center">
        <p-button label="See More Projects" variant="text" severity="info" (click)="showDialog()"/>
      </div>
    }
  </div>

  <p-dialog header="Projects" [modal]="true" [(visible)]="visible" [style]="{ width: '60rem' }"
            [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [maximizable]="true">
    <div class="flex flex-wrap gap-4 items-center justify-center">
      @for (project of projects; track project.id) {
        <p-card [style]="{ width: '25rem', overflow: 'hidden' }">
          <ng-template #header>
            <img alt="" class="w-full h-50" [src]="project.projectImgUrl"/>
          </ng-template>
          <ng-template #title> {{ project.title }}</ng-template>
          <ng-template #content>
            <p>{{ project.description }}</p>
            <div class="my-4 flex flex-wrap gap-2">
              @for (tech of project.technologies; track tech.id) {
                <p-chip label="{{ tech }}"></p-chip>
              }
            </div>
          </ng-template>
          <ng-template #footer>
            <div class="flex gap-4">
              <a
                [href]="project.gitHubUrl"
                class="flex items-center gap-2 text-gray-700 transition-colors hover:text-[#111827]"
              >
                <lucide-icon
                  [img]="Github"
                  class="hover:text-[#111827]"
                ></lucide-icon>
                <span>Code</span>
              </a>
              @if (project.liveDemoUrl) {
                <a
                  [href]="project.liveDemoUrl"
                  target="_blank"
                  rel="noopener noreferrer"
                  class="flex items-center gap-2 text-gray-700 transition-colors hover:text-[#0D9488]"
                >
                  <lucide-icon
                    [img]="ExternalLink"
                    class="hover:text-[#0D9488]"
                  ></lucide-icon>
                  <span>Live Demo</span>
                </a>
              }
            </div>
          </ng-template>
        </p-card>
      }
    </div>
  </p-dialog>
</section>
