<div class="flex min-h-screen items-center justify-center px-4">
  <p-card>
    <ng-template #header>
      <h1 class="mx-4 pt-2 text-2xl font-bold">Login</h1>
    </ng-template>
    <ng-template #title>
      <p class="text-base font-normal">
        Enter your credentials to access the edit page
      </p>
    </ng-template>
    <form #loginForm="ngForm" (ngSubmit)="login(loginForm)" novalidate>
      <div class="space-y-2">
        <div>
          <p-floatlabel variant="on">
            <input
              pInputText
              id="email"
              name="email"
              [(ngModel)]="email"
              #emailInput="ngModel"
              required
              email
              autocomplete="off"
              fluid="true"
            />
            <label for="email">Email</label>
          </p-floatlabel>
          @if (emailInput.invalid && emailInput.dirty && emailInput.touched) {
            <p-message severity="error" variant="simple" size="small">Enter a valid email address</p-message>
          }
        </div>


       <div>
         <p-floatlabel variant="on">
           <p-password
             [(ngModel)]="password"
             name="password"
             #passwordInput="ngModel"
             required
             inputId="password"
             fluid="true"
             feedback="false"
           />
           <label for="password">Password</label>
         </p-floatlabel>


       </div>
      </div>
      <div class="mt-4">
        <p-button
          type="submit"
          label="Login"
          class="w-full"
          styleClass="w-full"
          [disabled]="loginForm.invalid"
        />
      </div>
    </form>
  </p-card>
</div>

<p-toast
  [showTransformOptions]="'translateY(100%)'"
  [showTransitionOptions]="'500ms'"
  [hideTransitionOptions]="'800ms'"
/>
