<p-card header="Resume Managemetent">
  <div class="flex flex-col gap-y-3">
    <p-card header="Upload Resume"
            subheader="You can upload up to 3 resumes. The current date will be automatically added to each upload.">
      <p-fileUpload
        [disabled]="resumes.length >= maxResumes"
        mode="basic"
        chooseLabel="Select Resume"
        [auto]="true"
        accept=".pdf"
        [maxFileSize]="10000000"
        (uploadHandler)="onFileUpload($event)"
        [customUpload]="true">
      </p-fileUpload>
    </p-card>
    <p-card header="Your Resumes">
      <p-table
        [value]="resumes"
        styleClass="p-datatable-sm"
        [tableStyle]="{'min-width': '50rem'}"
        *ngIf="resumes.length > 0">
        <ng-template pTemplate="header">
          <tr>
            <th>File Name</th>
            <th>Upload Date</th>
            <th>Primary</th>
            <th>Actions</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-resume>
          <tr>
            <td>{{ resume.fileName }}</td>
            <td>{{ resume.uploadDate | firebaseDate | date:'medium' }}</td>
            <td>
              <p-checkbox
                [binary]="true"
                [ngModel]="resume.isPrimary"
                [disabled]="resume.isPrimary"
                (onChange)="setPrimary(resume)">
              </p-checkbox>
            </td>
            <td>
              <div class="flex gap-2">
                <a [href]="resume.fileUrl" target="_blank" class="rounded-full ">
                  <p-button type="button" icon="pi pi-eye" [rounded]="true" severity="info" [outlined]="true"/>
                </a>
                <p-button type="button" icon="pi pi-trash" [rounded]="true" severity="danger" [outlined]="true"
                          (click)="deleteResume(resume)"/>
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="4" class="text-center p-4">
              No resumes found. Upload your first resume.
            </td>
          </tr>
        </ng-template>
      </p-table>
      <div *ngIf="resumes.length === 0 " class="text-center p-4 border rounded-md bg-gray-50">
        No resumes found. Upload your first resume.
      </div>
    </p-card>
  </div>

</p-card>


<p-toast></p-toast>




