<section id="contact" class="bg-white py-20">
  <div class="container mx-auto px-4 sm:px-6 lg:px-8">
    <div class="mb-16 text-center">
      <h2
        class="text-portfolio-dark font-display mb-4 text-3xl font-bold md:text-4xl"
      >
        Contact Me
      </h2>
      <div class="bg-portfolio-teal mx-auto mb-8 h-1 w-20"></div>
      <p class="mx-auto max-w-3xl text-gray-600">
        Feel free to contact me for any work or suggestions. I'm always open to
        discussing new projects, creative ideas, or opportunities to be part of
        your vision.
      </p>
    </div>

    <div class="grid grid-cols-1 items-start gap-12 lg:grid-cols-2">
      <div class="bg-portfolio-blue/5 rounded-xl p-8">
        <h3 class="text-portfolio-dark mb-8 text-2xl font-bold">
          Contact Information
        </h3>

        <div class="space-y-6">
          <div class="flex items-start">
            <div class="bg-portfolio-teal/10 mr-4 rounded-full p-3">
              <lucide-icon
                [img]="Mail"
                class="h-6 w-6 hover:text-[#0D9488]"
              ></lucide-icon>
            </div>
            <div>
              <h4 class="text-portfolio-dark text-lg font-semibold">Email</h4>
              <p class="text-gray-600">contactsandeepan&#64;gmail.com</p>
            </div>
          </div>
        </div>

        <div class="mt-10">
          <h4 class="text-portfolio-dark mb-4 text-lg font-semibold">
            Follow Me
          </h4>
          <!-- <div class="flex space-x-4">
                {['github', 'linkedin', 'twitter', 'instagram'].map((platform) => (
                  <a 
                    key={platform}
                    href="#" 
                    class="w-10 h-10 rounded-full bg-white flex items-center justify-center shadow-sm hover:shadow-md transition-shadow"
                  >
                    <span class="text-portfolio-blue capitalize"></span>
                  </a>
                ))}
              </div> -->
        </div>
      </div>

      <div class="rounded-xl bg-white p-8 shadow-md">
        <h3 class="text-portfolio-dark mb-8 text-2xl font-bold">
          Send Me a Message
        </h3>
      </div>
    </div>
  </div>
</section>
