<div class="m-2 hidden md:block">
  <p-card>
    <ng-template #header>
      <h2 class="mt-2 ml-4 text-3xl">All Messages</h2>
      <p class="mt-2 ml-4 text-base font-light text-gray-500">
        Manage and respond to contact form submissions
      </p>
    </ng-template>
    <div class="flex justify-between">
      <p-inputgroup styleClass="!w-sm">
        <p-inputgroup-addon>
          <lucide-icon [img]="Search"></lucide-icon>
        </p-inputgroup-addon>
        <p-floatlabel variant="on">
          <input
            pInputText
            id="search_messages"
            type="text"
            autocomplete="off"
          />
          <label for="search_messages">Search Messages</label>
        </p-floatlabel>
      </p-inputgroup>
      <div class="flex justify-between space-x-1">
        <p-button
          type="button"
          icon="pi pi-filter"
          [label]="selectedFilter ? selectedFilter.name : 'All'"
          (onClick)="toggle($event)"
          variant="outlined"
          severity="success"
        />
        <p-popover #filterPopover>
          <div class="flex flex-col gap-4">
            <div>
              <ul class="m-0 flex list-none flex-col p-0">
                <li
                  *ngFor="let filter of filters"
                  class="hover:bg-emphasis rounded-border flex cursor-pointer items-center gap-2 px-2 py-3"
                  (click)="selectFilter(filter)"
                >
                  <div>
                    <span class="font-medium">{{ filter.name }}</span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </p-popover>
      </div>
    </div>

    @if (messages.length === 0) {
      <div class="flex flex-col items-center justify-center gap-4 p-4">
        <lucide-icon
          [img]="Inbox"
          class="h-20 w-20 text-gray-400"
        ></lucide-icon>
        <h2 class="text-xl font-semibold text-gray-700">No Messages Found</h2>
        <p class="text-gray-500">
          It seems you don't have any messages yet. Check back later!
        </p>
      </div>
    } @else {
      <p-table [value]="messages">
        <ng-template #header>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Subject</th>
            <th>Message</th>
            <th>Time</th>
            <th>Actions</th>
          </tr>
        </ng-template>
        <ng-template #body let-messages>
          <tr>
            <td>{{ messages.name }}</td>
            <td>
              <a
                [href]="'mailto:' + messages.email"
                class="text-blue-600 hover:underline"
              >
                {{ messages.email }}
              </a>
            </td>
            <td>{{ messages.subject }}</td>
            <td>{{ messages.message }}</td>
            <td>{{ messages.timestamp | date: "dd/MM/yyyy HH:mm" }}</td>
            <td class="space-x-2">
              @if (!messages.read) {
                <p-button
                  [outlined]="true"
                  [rounded]="true"
                  severity="info"
                  (onClick)="read(messages)"
                  icon="pi pi-check"
                >
                </p-button>
              } @else {
                <p-button
                  [outlined]="true"
                  [rounded]="true"
                  severity="danger"
                  (onClick)="read(messages)"
                  icon="pi pi-times"
                >
                </p-button>
              }
              <p-button
                [outlined]="true"
                [rounded]="true"
                severity="danger"
                (onClick)="delete(messages)"
                icon="pi pi-trash"
              >
              </p-button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    }
  </p-card>
</div>

<div class="block md:hidden">
  <div class="flex flex-col gap-4 p-4">
    <div>
      <h2 class="mt-2 ml-2 text-3xl">All Messages</h2>
      <p class="ml-2 text-base font-light text-gray-500">
        Manage and respond to contact form submissions
      </p>
    </div>
    <div class="flex justify-between">
      <p-inputgroup styleClass="!w-xs">
        <p-inputgroup-addon>
          <lucide-icon [img]="Search"></lucide-icon>
        </p-inputgroup-addon>
        <p-floatlabel variant="on">
          <input
            pInputText
            id="search_messages"
            type="text"
            autocomplete="off"
          />
          <label for="search_messages">Search Messages</label>
        </p-floatlabel>
      </p-inputgroup>
      <div class="flex justify-between space-x-1">
        <p-button
          type="button"
          icon="pi pi-filter"
          [label]="selectedFilter ? selectedFilter.name : 'All'"
          (onClick)="toggle($event)"
          variant="outlined"
          severity="success"
        />
      </div>
    </div>
    @for (msg of messages; track $index) {
      <p-card>
        <ng-template #header>
          <h2 class="mt-2 ml-4 text-3xl">{{ msg.name }}</h2>
        </ng-template>
        <ng-template #title>{{ msg.subject }}</ng-template>
        <ng-template #subtitle
          ><a
            [href]="'mailto:' + msg.email"
            class="text-blue-600 hover:underline"
          >
            {{ msg.email }}
          </a></ng-template
        >
        <p>{{ msg.message }}</p>
        <ng-template #footer>
          <div class="flex justify-between">
            <p-button
              [outlined]="true"
              [rounded]="true"
              severity="danger"
              (onClick)="delete(msg)"
              icon="pi pi-trash"
            >
            </p-button>
            @if (!msg.read) {
              <p-button
                [outlined]="true"
                [rounded]="true"
                severity="info"
                (onClick)="read(msg)"
                icon="pi pi-check"
              >
              </p-button>
            } @else {
              <p-button
                [outlined]="true"
                [rounded]="true"
                severity="danger"
                (onClick)="read(msg)"
                icon="pi pi-times"
              >
              </p-button>
            }
          </div>
        </ng-template>
      </p-card>
    }
  </div>
</div>

<p-toast
  [showTransformOptions]="'translateY(100%)'"
  [showTransitionOptions]="'1000ms'"
  [hideTransitionOptions]="'1000ms'"
  [showTransformOptions]="'translateX(100%)'"
/>
