<app-header></app-header>

<p-tabs value="0" scrollable>
  <p-tablist>
    <p-tab value="0">Hero Section</p-tab>
    <p-tab value="1">About Section</p-tab>
    <p-tab value="2">Project Section</p-tab>
    <p-tab value="3">Contact Section</p-tab>
  </p-tablist>
  <p-tabpanels>
    <p-tabpanel value="0">
      <app-hero></app-hero>
    </p-tabpanel>
    <p-tabpanel value="1">
      <app-about></app-about>
    </p-tabpanel>
    <p-tabpanel value="2">
      <app-project></app-project>
    </p-tabpanel>
    <p-tabpanel value="3">
      <app-contact></app-contact>
    </p-tabpanel>
  </p-tabpanels>
</p-tabs>
