<p-tabs value="0" scrollable>
  <p-tablist>
    <p-tab value="0">Hero</p-tab>
    <p-tab value="1">About</p-tab>
    <p-tab value="2">Project</p-tab>
    <p-tab value="3">Experience</p-tab>
    <p-tab value="4">Contact</p-tab>
    <p-tab value="5">Resume</p-tab>
  </p-tablist>
  <p-tabpanels>
    <p-tabpanel value="0">
      <app-hero></app-hero>
    </p-tabpanel>
    <p-tabpanel value="1">
      <app-about></app-about>
    </p-tabpanel>
    <p-tabpanel value="2">
      <app-project></app-project>
    </p-tabpanel>
    <p-tabpanel value="3">
      <app-experience></app-experience>
    </p-tabpanel>
    <p-tabpanel value="4">
      <app-contact></app-contact>
    </p-tabpanel>
    <p-tabpanel value="5">
            <app-resume></app-resume>
    </p-tabpanel>
  </p-tabpanels>
</p-tabs>
